<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>43390142036-les9n7kt8a7bk9pfu84h033omokk2iuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.43390142036-les9n7kt8a7bk9pfu84h033omokk2iuh</string>
	<key>API_KEY</key>
	<string>AIzaSyCHCC-ZMsj89giDMJIqmj3hJG522LjW5mk</string>
	<key>GCM_SENDER_ID</key>
	<string>43390142036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bg.sbalabanov.tntm</string>
	<key>PROJECT_ID</key>
	<string>tntm-4adf1</string>
	<key>STORAGE_BUCKET</key>
	<string>tntm-4adf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43390142036:ios:82e22778ca187b46</string>
	<key>DATABASE_URL</key>
	<string>https://tntm-4adf1.firebaseio.com</string>
</dict>
</plist>